@theme {
  --text-7xs: 7px;
  --text-7xs--line-height: 0.7rem;
  --text-6xs: 8px;
  --text-6xs--line-height: 0.7rem;
  --text-5xs: 9px;
  --text-5xs--line-height: 0.85rem;
  --text-4xs: 10px;
  --text-4xs--line-height: 0.85rem;
  --text-3xs: 11px;
  --text-3xs--line-height: 0.9rem;
  --text-xs: 12px;
  --text-xs--line-height: var(--leading-sm);
  --text-xs--font-weight: var(--font-weight-normal);
  --text-sm: 13px;
  --text-sm--line-height: var(--leading-md);
  --text-sm--font-weight: var(--font-weight-normal);
  --text-base: 14px;
  --text-base--line-height: 1.25rem;
  --text-md: 14px;
  --text-md--line-height: var(--leading-md);
  --text-md--font-weight: var(--font-weight-normal);
  --text-lg: 15px;
  --text-lg--line-height: var(--leading-md);
  --text-lg--font-weight: var(--font-weight-normal);
  --text-xl: 16px;
  --text-xl--line-height: 1.5rem;
  --text-2xl: 18px;
  --text-2xl--line-height: 1.75rem;
  --text-3xl: 22px;
  --text-3xl--line-height: 1.75rem;
  --text-4xl: 24px;
  --text-4xl--line-height: 2rem;
  --text-4\.5xl: 26px;
  --text-4\.5xl--line-height: 1.625rem;
  --text-5xl: 28px;
  --text-5xl--line-height: 2.25rem;
  --text-6xl: 2.25rem;
  --text-6xl--line-height: 2.5rem;
  --text-7xl: 3rem;
  --text-7xl--line-height: 1;
  --text-8xl: 3.75rem;
  --text-8xl--line-height: 1;
  --text-9xl: 4.5rem;
  --text-9xl--line-height: 1;
  --text-10xl: 6rem;
  --text-10xl--line-height: 1;
  --text-11xl: 8rem;
  --text-11xl--line-height: 1;

  --text-h1: var(--text-5xl);
  --text-h1--line-height: var(--leading-3xs);
  --text-h1--font-weight: var(--font-weight-light);
  --text-h2: var(--text-4xl);
  --text-h2--line-height: var(--leading-2xs);
  --text-h2--font-weight: var(--font-weight-light);
  --text-h3: var(--text-3xl);
  --text-h3--line-height: var(--leading-2xs);
  --text-h3--font-weight: var(--font-weight-light);
  --text-h4: var(--text-2xl);
  --text-h4--line-height: var(--leading-sm);
  --text-h4--font-weight: var(--font-weight-normal);
  --text-h5: var(--text-xl);
  --text-h5--line-height: var(--leading-sm);
  --text-h5--font-weight: var(--font-weight-normal);
  --text-h6: var(--text-md);
  --text-h6--line-height: var(--leading-md);
  --text-h6--font-weight: var(--font-weight-normal);
  --text-txt-xs: var(--text-xs);
  --text-txt-xs--line-height: var(--leading-md);
  --text-txt-xs--font-weight: var(--font-weight-normal);
  --text-txt-sm: var(--text-sm);
  --text-txt-sm--line-height: var(--leading-md);
  --text-txt-sm--font-weight: var(--font-weight-normal);
  --text-txt-md: var(--text-md);
  --text-txt-md--line-height: var(--leading-md);
  --text-txt-md--font-weight: var(--font-weight-normal);
  --text-txt-lg: var(--text-lg);
  --text-txt-lg--line-height: var(--leading-md);
  --text-txt-lg--font-weight: var(--font-weight-normal);
}
