/**
 * Popup
 * @see /bitrix/js/intranet/design-tokens/bitrix24/air-design-tokens.css
 * @fix --menu-popup-padding
 */

/* .popup-window { */
@layer theme {
  :root, :host {
    --popup-window-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.21);
    --menu-popup-padding: 10px;
    --popup-window-delimiter-section-height: 33px;
  }
}
