.component-meta/
component-meta.*
/ecosystem.config.cjs

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
/@tmp
.todo.md

# Local env files
.env
.env.*
!.env.example

playgrounds/vue/auto-imports.d.ts
playgrounds/vue/components.d.ts
playgrounds/vue/tsconfig.app.tsbuildinfo
playgrounds/vue/tsconfig.node.tsbuildinfo

playgrounds/demo/auto-imports.d.ts
playgrounds/demo/components.d.ts
playgrounds/demo/tsconfig.app.tsbuildinfo
playgrounds/demo/tsconfig.node.tsbuildinfo

# Docs
