@import '#build/b24ui.css';
@import './keyframes.css';
@import './air-design-tokens/tw-style/index.css';
@import './air-design-tokens/index.css';

@variant light (&:where(.light, .light *));
@variant edge-dark (&:where(.edge-dark, .edge-dark *));
@variant edge-light (&:where(.edge-light, .edge-light *));
@variant dark (&:where(.dark, .dark *));
@variant bitrix-mobile (&:where(html[data-platform="bitrix-mobile"] *));
@variant bitrix-desktop (&:where(html[data-platform="bitrix-desktop"] *));

@layer base {
  body, .sidebar-layout.--inner {
    --air-theme-background: var(--air-theme-bg-image, none) var(--air-theme-bg-position, 0 0) / var(--air-theme-bg-size, auto) var(--air-theme-bg-repeat, repeat) var(--air-theme-bg-attachment, scroll) var(--air-theme-bg-color, transparent);

    --air-theme-background-blurred: var(--air-theme-bg-image-blurred, none) var(--air-theme-bg-position, 0 0) / var(--air-theme-bg-size, auto) var(--air-theme-bg-repeat, repeat) var(--air-theme-bg-attachment, scroll);
  }
}

@theme default inline {
  --text-color-dimmed: var(--ui-color-base-6);
  --text-color-muted: var(--ui-color-design-plain-na-content-secondary);
  --text-color-description: var(--b24ui-typography-description-color);
  --text-color-legend: var(--b24ui-typography-legend-color);
  --text-color-label: var(--b24ui-typography-label-color);
}
