@plugin '@bitrix24/b24style';
@import '#build/b24ui.css';
@import './keyframes.css';
@import './air-design-tokens/index.css';

@layer base {
  .--app {
    overflow-y: scroll;
    scrollbar-gutter: stable;
  }
  .--app[data-state="loading"] {
    /*overflow: hidden;*/
    /*scrollbar-gutter: auto;*/
    overflow: hidden;
  }
}
