@plugin '@bitrix24/b24style';
@import '#build/b24ui.css';
@import './keyframes.css';

@variant light (&:where(.light, .light *));
@variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply antialiased scheme-light dark:scheme-dark;
  }

  :root, .light {}

  .dark {}

  --b24ui-header-height: calc(var(--spacing)*16);

  .scrollbar-thin {
    scrollbar-width: thin;
  }
}

@layer theme {
  :host,:root {
    --spacing: .25rem;
  }
}
