@layer base {
  body {
    @apply antialiased font-(family-name:--ui-font-family-system);
  }
}

@layer theme {
  :host,:root {
    --spacing: .25rem;
    --content-area-shift: 22px;
  }
}

/*
 * Colors
 * @todo fix layer
 * @memo get from @memo use in src/runtime/air-design-tokens/008_ui_global.css
 */
@layer components {
  /*region air-primary*/
  /*--style-filled*/
  .--air-primary {
    --b24ui-background: var(--ui-color-design-filled-bg);
    --b24ui-border-color: var(--ui-color-design-filled-stroke);
    --b24ui-border-width: var(--ui-design-filled-stroke-weight);
    --b24ui-color: var(--ui-color-design-filled-content);
    --b24ui-split-divider-color: var(--ui-color-design-filled-content-divider);
  }

  /*--style-filled-success*/
  .--air-primary-success {
    --b24ui-background: var(--ui-color-design-filled-success-bg);
    --b24ui-border-color: var(--ui-color-design-filled-success-stroke);
    --b24ui-border-width: var(--ui-design-filled-success-stroke-weight);
    --b24ui-color: var(--ui-color-design-filled-success-content);
    --b24ui-split-divider-color: var(--ui-color-design-filled-success-content-divider);
  }

  /*--style-filled-copilot*/
  .--air-primary-copilot {
    --b24ui-background: var(--ui-color-design-filled-copilot-bg);
    --b24ui-border-color: var(--ui-color-design-filled-copilot-stroke);
    --b24ui-border-width: var(--ui-design-filled-copilot-stroke-weight);
    --b24ui-color: var(--ui-color-design-filled-copilot-content);
    --b24ui-split-divider-color: var(--ui-color-design-filled-copilot-content-divider);
  }

  /*--style-filled-alert*/
  .--air-primary-alert {
    --b24ui-background: var(--ui-color-design-filled-alert-bg);
    --b24ui-border-color: var(--ui-color-design-filled-alert-stroke);
    --b24ui-border-width: var(--ui-design-filled-success-stroke-weight);
    --b24ui-color: var(--ui-color-design-filled-alert-content);
    --b24ui-split-divider-color: var(--ui-color-design-filled-alert-content-divider);
  }
  /*endregion*/

  /*region air-secondary*/
  /*--style-tinted*/
  .--air-secondary {
    --b24ui-background: var(--ui-color-design-tinted-bg);
    --b24ui-border-color: var(--ui-color-design-tinted-stroke);
    --b24ui-border-width: var(--ui-design-tinted-stroke-weight);
    --b24ui-color: var(--ui-color-design-tinted-content);
    --b24ui-split-divider-color: var(--ui-color-design-tinted-content-divider);
  }

  /*--style-tinted-alert*/
  .--air-secondary-alert {
    --b24ui-background: var(--ui-color-design-tinted-alert-bg);
    --b24ui-border-color: var(--ui-color-design-tinted-alert-stroke);
    --b24ui-border-width: var(--ui-design-tinted-alert-stroke-weight);
    --b24ui-color: var(--ui-color-design-tinted-alert-content);
    --b24ui-split-divider-color: var(--ui-color-design-tinted-alert-content-divider);
  }

  /*--style-outline*/
  .--air-secondary-accent {
    --b24ui-background: var(--ui-color-design-outline-bg);
    --b24ui-border-color: var(--ui-color-design-outline-stroke);
    --b24ui-border-width: var(--ui-design-outline-stroke-weight);
    --b24ui-color: var(--ui-color-design-outline-content);
    --b24ui-split-divider-color: var(--ui-color-design-outline-content-divider);
  }

  /*--style-outline-accent-1*/
  .--air-secondary-accent-1 {
    --b24ui-background: var(--ui-color-design-outline-a1-bg);
    --b24ui-border-color: var(--ui-color-design-outline-a1-stroke);
    --b24ui-border-width: var(--ui-design-outline-a1-stroke-weight);
    --b24ui-color: var(--ui-color-design-outline-a1-content);
    --b24ui-split-divider-color: var(--ui-color-design-outline-a1-content-divider);
  }

  /*--style-outline-accent-2*/
  .--air-secondary-accent-2 {
    --b24ui-background: var(--ui-color-design-outline-a2-bg);
    --b24ui-border-color: var(--ui-color-design-outline-a2-stroke);
    --b24ui-border-width: var(--ui-design-outline-a2-stroke-weight);
    --b24ui-color: var(--ui-color-design-outline-a2-content);
    --b24ui-split-divider-color: var(--ui-color-design-outline-a2-content-divider);
  }

  /* default */
  /*--style-outline-no-accent*/
  .--air-secondary-no-accent {
    --b24ui-background: var(--ui-color-design-outline-na-bg);
    --b24ui-border-color: var(--ui-color-design-outline-na-stroke);
    --b24ui-border-width: var(--ui-design-outline-na-stroke-weight);
    --b24ui-color: var(--ui-color-design-outline-na-content);
    --b24ui-split-divider-color: var(--ui-color-design-outline-na-content-divider);
  }
  /*endregion*/

  /*region air-tertiary*/
  /*--style-plain*/
  .--air-tertiary {
    --b24ui-background: var(--ui-color-design-plain-bg);
    --b24ui-border-color: var(--ui-color-design-plain-stroke);
    --b24ui-border-width: var(--ui-design-plain-stroke-weight);
    --b24ui-color: var(--ui-color-design-plain-content);
    --b24ui-split-divider-color: var(--ui-color-design-plain-content-divider);
  }

  /*--style-plain-accent*/
  .--air-tertiary-accent {
    --b24ui-background: var(--ui-color-design-plain-a-bg);
    --b24ui-border-color: var(--ui-color-design-plain-a-stroke);
    --b24ui-border-width: var(--ui-design-plain-a-stroke-weight);
    --b24ui-color: var(--ui-color-design-plain-a-content);
    --b24ui-split-divider-color: var(--ui-color-design-plain-a-content-divider);
  }

  /*--style-plain-no-accent*/
  .--air-tertiary-no-accent {
    --b24ui-background: var(--ui-color-design-plain-na-bg);
    --b24ui-border-color: var(--ui-color-design-plain-na-stroke);
    --b24ui-border-width: var(--ui-design-plain-na-stroke-weight);
    --b24ui-color: var(--ui-color-design-plain-na-content);
    --b24ui-split-divider-color: var(--ui-color-design-plain-na-content-divider);
  }
  /*endregion*/

  /*region custom*/
  /*--style-selection*/
  .--air-selection {
    --b24ui-background: var(--ui-color-design-selection-bg);
    --b24ui-border-color: var(--ui-color-design-selection-stroke);
    --b24ui-border-width: var(--ui-design-selection-stroke-weight);
    --b24ui-color: var(--ui-color-design-selection-content);
    --b24ui-split-divider-color: var(--ui-color-design-selection-content-divider);
  }

  /* @todo */
  /*--style-filled-boost*/
  .--air-boost {
    --b24ui-background: transparent;
    --b24ui-border-color: var(--ui-color-design-filled-boost-stroke);
    --b24ui-border-width: var(--ui-design-filled-boost-stroke-weight);
    --b24ui-color: var(--ui-color-design-filled-boost-content);
    --b24ui-split-divider-color: var(--ui-color-design-filled-boost-content-divider);
  }
  /*endregion*/
  /*region old*/
  .--old-style-default {
    --b24ui-background: var(--ui-color-base-20);
    --b24ui-border-color: var(--ui-color-base-20);
    --b24ui-color: var(--ui-color-base-80);
    --b24ui-border-width: 0px;
    --b24ui-split-divider-color: transparent;
  }

  .--old-style-danger {
    --b24ui-background: #f1361a;
    --b24ui-border-color: #f1361a;
    --b24ui-color: var(--ui-color-on-primary);
    --b24ui-border-width: 0px;
    --b24ui-split-divider-color: transparent;
  }

  .--old-style-success {
    --b24ui-border-color: #f1361a;
    --b24ui-color: var(--ui-color-on-primary);
    --b24ui-border-width: 0px;
    --b24ui-split-divider-color: transparent;
  }
  /*endregion*/
}
